<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>Hanzien - Chinese Cards</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="styles/styles.css" type="text/css" />
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    </head>
<body>
<div id="app">

    <header class="app-header">
        <section class="app-header-content">
            <div class="logo">
                <h1 class="logo-text">Hanzien</h1>
                <span class="logo-slogan">Chinese Cards</span>
            </div>
            <div class="filters">
                <span class="cards-lenght" v-cloak>
                    <span v-if="filterCharacters.length === 1">{{ filterCharacters.length }} card</span>
                    <span v-else>{{ filterCharacters.length }} cards</span>
                </span>
                <input v-model="search" class="search-input" type="text" placeholder="Filtrar tarjetas" autocapitalize="none" />
                <!-- <select v-model="filterLevel" class="filter-level">
                    <option value="">All levels</option>
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>                
                    <option value="5">Level 5</option>
                    <option value="6">Level 6</option>  
                    <option value="7">Level 7</option>                
                    <option value="7b">Level 7b</option>
                </select> -->
                <select style="display:none;">
                    <option value="all">Todos</option>
                    <option value="pronouns">Pronombres</option>
                    <option value="verbs">Verbos</option>
                    <option value="family">Familia</option>
                    <option value="people">Personas</option>                
                    <option value="professions">Profesiones</option>
                    <option value="countries">Países</option>  
                    <option value="drinks">Bebidas</option>                
                    <option value="adverbs">Adverbios</option>
                    <option value="particles">Partículas</option> 
                </select>          
            </div>
        </section>
    </header>

    <main id="characters">
        <div class="cards">
            <div v-for="character in filterCharacters" class="card">            
                <div class="card-content" onclick="this.classList.toggle('flip');">
                    <figure class="front">
                        <h2 v-cloak>{{ character.hanzi }}</h2> 
                        <h4 v-cloak v-if="character.level">Level {{ character.level }}</h4>                       
                    </figure> 
                    <figure class="back">
                        <h2>{{ character.hanzi }}</h2>
                        <h3>{{ character.pinyin }}</h3>
                        <p>{{ character.meaning }}</p>
                    </figure>       
                </div>
            </div>
        </div>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>
