<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>Voccalia - Chinese Cards</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="styles/styles.css" type="text/css" />
        <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    </head>
<body>
<div id="app">
    <header class="app-header">
        <section class="app-header-content">
            <div class="logo">
                <h1 class="logo-text">Hanzien</h1>
                <span class="logo-slogan">Chinese Cards</span>
            </div>
            <div class="filters">
                <span class="cards-lenght" v-cloak>
                    <span v-if="filterCharacters.length === 1">{{ filterCharacters.length }} card</span>
                    <span v-else>{{ filterCharacters.length }} cards</span>
                </span>
                <input class="search-input" v-model="search" type="text" placeholder="Filter cards" autocapitalize="none" />        
            </div>
        </section>
    </header>
    <main id="characters">
        <div class="cards">
            <div class="card" v-for="character in filterCharacters">            
                <div class="card-content" onclick="this.classList.toggle('flip');">
                    <figure class="front">
                        <h2 v-cloak>{{ character.hanzi }}</h2> 
                        <h4 style="display: none;" v-cloak v-if="character.level">Level {{ character.level }}</h4>                       
                    </figure> 
                    <figure class="back">
                        <h2>{{ character.hanzi }}</h2>
                        <h3>{{ character.pinyin }}</h3>
                        <p>{{ character.meaning }}</p>
                    </figure>       
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>
