body { 
    background: gray;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 { 
    text-align: center;
    color: white; 
}


.subtitle {
    color: white;
    text-align: center;
}

.cards {
    text-align: center;
}

/* Flipcard based on https://desandro.github.io/3dtransforms/docs/card-flip.html */

.card { 
    width: 250px;
    height: 300px;
    position: relative;
    perspective: 800px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.card ::selection {
    background: none;
  }
  
.card ::-moz-selection {
    background: none;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer; 
}  

.card-content figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  .card-content .front {
    color: white;
    background: black;
  }
    .card-content .front h2 {
        font-size: 64px; 
        font-family: serif;
        margin: 0;
        margin-top: 90px;
        font-weight: normal;
        color: white;
    }

  .card-content .back {
    background: white;
    color: black;
    transform: rotateY( 180deg );
  }

    .card-content .back h2 {
        font-size: 52px; 
        font-family: serif;
        margin: 0;
        margin-top: 80px;
        font-weight: normal;
        color: black;        
    }

    .card-content .back h3 {
        font-size: 24px;
        margin: 5px;
    }

    .card-content .back p {
        margin: 0;      
    }

  .card-content.flip {
    transform: rotateY( 180deg );
  }


/* Vue cloak https://vuejs.org/v2/api/#v-cloak 
Se utiliza para esconder las etiquetas mientras no 
se ha cargado el contenido */

[v-cloak] {
    display: none;
}

/* Transition https://vuejs.org/v2/guide/transitions.html */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}